// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
/*@import url('public/assets/fonts/Poppins');*/
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.button {
    margin-top: 4rem;
    padding: 1.2rem 3rem;
    color: $white;
    background-color: $green;

    &:hover {
        background-color: $green-dark;
    }
    &:disabled {
        background-color: gray;
        cursor: not-allowed;
    }

}
.btn-answer {
    background-color: #04cba087;
    transition: background-color 0.3s;
}

.btn-answer:hover {
    background-color: #04cba0;
}

.btn-reset, .btn-show {
    background-color: #ffa60066;
    transition: background-color 0.3s;
}

.btn-reset:hover, .btn-show:hover {
    background-color: #ffa600;
}
